{% extends 'base.html' %}

{% block content %}
    <form id="login" method="post">
        {% csrf_token %}
        <label for="phone">Phone # </label>
        <input id="phone" type="tel" name="phone" />
        <input type="submit" class="btn" value="Verify"/>
    </form>

    <script type="text/javascript">
        const input = document.querySelector("#phone");
        const form = document.querySelector("#form");

        const iti = window.intlTelInput(input, {
            loadUtils: () => import("https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/utils.js"),
            countryOrder: ["us"],
            initialCountry: "us",
            hiddenInput: () => ({phone: "phone_number"}),
        });

        form.onsubmit = () => {
            if (!iti.isValidNumber()) {
                {#message.innerHTML = "Invalid number. Please try again.";#}
                return false;
            }
        };
    </script>
{% endblock %}